body {
    background-color: rgb(70, 67, 67);
}



.login-body {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);    
}

.login-container {
    width: 700px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(46, 44, 41, 0.75);
    background-color: rgb(24, 31, 56);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;  
}

.login-container h3 {
    color: white;    
}
    
